---
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import LinkButton from "@components/LinkButton.astro";
---

<Layout title={`404 Not Found | ${SITE.title}`}>
  <Header />

  <main id="main-content" class="mx-auto flex max-w-3xl flex-1 items-center justify-center">
    <div class="mb-14 flex flex-col items-center justify-center">
      <h1 aria-label="404 Not Found" class="text-9xl font-bold">404</h1>
      <p class="mt-4 text-2xl sm:text-3xl justify-center text-center">
        Warum ist überhaupt Seiendes und nicht vielmehr Nichts?
      </p>
      <LinkButton
        href="/"
        className="my-6 underline decoration-solid underline-offset-8 text-lg"
      >
        Back to Top
      </LinkButton>
    </div>
  </main>
  <Footer />
</Layout>
